body {
    color: #e3d7bf; 
    background: #232927;
    font: normal normal 300 14px/18px HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
}
a:link, a:visited {color: #e3d7bf;}
a:hover {color:#e16734;}
h1 {font-family: Cambria, Helvetica, Arial, sans-serif;}
h1 a:link, h1 a:visited {text-decoration: none;}
h1:hover, h1 a:hover {text-decoration: none; color: #f60; text-shadow: #476871 1px 1px 0px;}

/* Top */
nav a:hover {text-shadow: #476871 1px 1px 0px;}
#navigation h4 {background: none;}

/* New post */
.new-post dl {
    float: left;
    margin-right: 5px;
    padding: 5px 0;
}
.new-post dt, .new-post dd {display: block; float: left;}
.new-post dt {display: none;}
.new-post input, .new-post textarea {font-size: 0.8em;}
.new-post textarea {width: 34em; height: 10em;}
.new-post .empty {display: none;}
.new-post .captcha-img {width: 300px;}
.message-d {clear: both;}
.captcha-d {margin-top: 30px;}
.bbcode {padding-bottom: 5px; font-size: 1em; display: none;}
.bbcode a, .bbcode a:visited {color: #E3D7BF;}
.bbcode a:hover {color: #eee;}

/* Threads and posts */
.thread {border-top-color: #E3D7BF; border-top-style: dashed;}
.post {background: #333; padding: 5px; margin-bottom: 5px;}
.post .number {margin-left: 0;}
.post .number:hover {color: #eee; cursor: pointer;}