body {
    color: #333; 
    background: #eee;
    font-family: "Trebuchet MS",Trebuchet,tahoma,serif;
}
a:link, a:visited {color: #f60;}
a:hover {color:#06f;}

#sidebar h4 {background: #ddd; border: 1px solid #ccc; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
#sidebar ul {border-left: 1px solid #ccc;}

/* New post */
.new-post {
    margin: 0px auto 10px auto;
    width: 620px;
}
.new-post dl {
    clear: both;
    padding: 5px 0;
    font-size: 1.1em;
}
.new-post dt, .new-post dd {display: block; float: left;}
.new-post dt {color: #024;}
.new-post input, .new-post textarea {font-size: 0.8em;}
.new-post textarea {width: 34em; height: 10em;}
.new-post .empty {font-style: italic;}
.new-post .captcha-img {width: 300px;}
.new-post .bbcode {padding-bottom: 5px; font-size: 1em;}
.message-d > dt {padding-top: 80px;}
.captcha-d > dt {padding-top: 30px;}

/* Threads and posts */
.thread {border-top-color: #ccc;}
.post {background: none;  padding: 0; margin-bottom: 5px;}
.post-wrapper {display: inline-block; background: #DDD; padding: 5px; border-radius: 5px; border: 1px solid #ccc;}
.post .name {margin-left: 0;}
.post .number, .post time {float: right;}