/* photon style */
#photon body{color:#333;background:#eee;font-family:"Trebuchet MS",Trebuchet,tahoma,serif;}
#photon a:link,
#photon a:visited{color:#f60;}
#photon a:hover{color:#06f;}
#photon #sidebar h4{background:#ddd;border:1px solid #ccc;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#photon #sidebar ul{border-left:1px solid #ccc;}
/* New post */
#photon .new-post dl{clear:both;padding:5px 0;font-size:1.1em;}
#photon .new-post dt,
#photon .new-post dd{display:block;float:left;}
#photon .new-post dt{color:#024;}
#photon .new-post input,
#photon .new-post textarea{font-size:0.8em;}
#photon .new-post .empty{font-style:italic;}
#photon .new-post .captcha-img{width:300px;}
#photon .new-post .bbcode{padding-bottom:5px;font-size:1em;}
#photon .new-style dl{clear:none;}
#photon .new-style dt{display:none;}
/* Threads and posts */
#photon .thread{border-top-color:#ccc;}
#photon .post{background:none;padding:0;margin-bottom:5px;}
#photon .post-wrapper,
#photon .faq > li{display:inline-block;background:#DDD;padding:5px;border-radius:5px;-moz-border-radius:5px;border:1px solid #ccc;}
#photon .post:first-child .post-wrapper{background:inherit;border:0;width:100%;}
#photon .post .number a,
#photon .post .number a:visited{color:inherit;}
#photon .post .number,
#photon .post time{float:right;}
#photon .deleted{background:inherit;}
#photon .deleted .post-wrapper,
#photon .content .deleted{background:#e44;}
#photon .deleted img{filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";opacity:0.5;}

/* klipton alpha */
#klipton body{background:#D8DCE0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABMCAIAAAAjsUpsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEVJREFUeNqMTlsKACAMku5/Z9sL1lpUH6JMJ4LkAGBQTdVxIwUQXVizNK+zd1Tecjfv1RHbnE/bcmPrKL8/XYufG6cAAwBFymotT/a6tQAAAABJRU5ErkJggg==') repeat-x;}
#klipton .sidebar, 
#klipton footer,
#klipton .paginator,
#klipton .deleteMode{display:none;}
#klipton #container-wrap > *{margin-left:10px;}
#klipton #container-wrap > header{display:none;}
#klipton #main{padding-top:20px;}
#klipton .postlist,
#klipton .threads{width:405px;border:1px solid #eee;border-radius:5px;-moz-border-radius:5px;background:#C9E2FE;padding:20px 1px;-webkit-box-shadow:5px 5px 5px #555;-moz-box-shadow:5px 5px 5px #555;box-shadow:5px 5px 5px #555;float:left;}
#klipton .thread.selected{background:#3a3;color:white;}
#klipton .postlist{margin-left:20px;}
#klipton .postlist .post,
#klipton .thread{font-size:12px;background:#fff;border:solid #eee;border-top:1px;border-bottom:1px;border-left:0;border-right:0;padding-top: 10px; padding-bottom: 10px;}
#klipton .thread:first-child{margin-top: 0;}
#klipton .thread .skipped{display:none;}
#klipton .thread .post{display:none;background:none;margin-top:0;margin-bottom:0;}
#klipton .thread .post:first-child{display:block;}
#klipton .post {min-width: 400px;}
#klipton .post img{max-width:50px;}
#klipton .post header{float:right;width:70px;}
#klipton .post .info-wrapper{float:right;}
#klipton .post .content{margin:0;padding-left:60px;width:250px;}
#klipton .post .files{width:60px;margin-left:-60px;margin-right:0;}
#klipton .post .message{display:block;}
#klipton .post .file-info{display:none;}
#klipton .new-post{display:none;}

/* Neutron Rewrited v0.30 for klipped */
#neutron body{background:none #212121;color:#698CC0;font-family:"Trebuchet MS",Trebuchet,tahoma,serif;counter-reset:threadpostcount !important;}
#neutron a:link,
#neutron a:visited,
#neutron .number{color:#C9BE89 !important;/* text-shadow:#FFD200 0px 0px 12px;*/}
#neutron a:hover,
#neutron .number:hover{color:#EEFEBB !important;/* text-shadow:#FFDE22 0px 0px 15px;*/}
#neutron /* ul.group a,.image-info a,.bbcode a,.sidebar a,.poster a{text-shadow:none;}
#neutron */
#neutron #sidebar h2 a{color:#EEFEBB;/* text-shadow:#FFDE22 0px 0px 15px;*/}
#neutron #sidebar h4{background-color:#111111;border:1px solid #545454;padding:2px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#neutron #sidebar ul{border-left:1px solid #545454;}
#neutron #sidebar li:hover{background-color:#303030;}
#neutron #sidebar li:hover a{color:#EEFEBB !important;}
#neutron aside.sidebar{padding-right:5px;border-right:2px solid #121212;}
#neutron aside.sidebar h4{cursor:pointer;}
#neutron .new-post dl{clear:both;padding:5px 0;font-size:1.1em;}
#neutron .new-post dt,.new-post dd{display:block;float:left;}
#neutron .new-post dt{color:#0061AA;text-shadow:#000000 0px 0px 8px;}
#neutron .new-post input,
#neutron .new-post textarea{font-size:0.8em;}
#neutron .new-post textarea{width:34em;height:10em;}
#neutron .new-post .empty{font-style:italic;}
#neutron .new-post .captcha-img{width:300px;}
#neutron .new-post .bbcode{padding-bottom:5px;font-size:1em;}
#neutron .message-d > dt{padding-top:80px;}
#neutron .captcha-d > dt{padding-top:30px;}
#neutron .thread{border-width:3px 0px 0px;border-color:#717D8E;-moz-border-image:url(line.png) 3 0 0 stretch;-webkit-border-image:url(line.png) 3 0 0 stretch;border-image:url(line.png) 3 0 0 stretch;}
#neutron #container > header,
#neutron #container-wrap > header.clearfix{border-width:0px 0px 3px;border-color:#717D8E;-moz-border-image:url(line.png) 0 0 3 27 stretch repeat;-webkit-border-image:url(line.png) 0 0 3 27 stretch repeat;border-image:url(line.png) 0 0 3 27 stretch repeat;}
#neutron .post{background:none;padding:0;margin-bottom:5px;}
#neutron .post-wrapper{display:inline-block;background:url(post.png) right bottom no-repeat #2C2C2C;padding:0;border:solid 1px #454545;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#neutron .post-wrapper header.clearfix{background:url(opera_postheader-fix.png) #2C2C2C repeat-x;background:-moz-linear-gradient(100% 100% 90deg,#2C2C2C,#151515) repeat scroll 0 0;background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#151515),color-stop(0.65,#2C2C2C));color:#999999;padding:4px;border:solid 0px transparent !important;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#neutron .post-wrapper .content{color:#698CC0;}
#neutron .post .poster{margin-left:10;color:#787878;font-weight:bold;}
#neutron .post .number a,
#neutron .post .number a:visited{color:inherit;}
#neutron .post .topic{color:#6EBCFF;font-weight:bold;}
#neutron .post time{margin-right:1em;}
#neutron .post time:before{content:"#" counter(threadpostcount) " ";color:#789922;}
#neutron .post .number,
#neutron .post time{float:right;}
#neutron div.info-wrapper{font-size:.9em !important;counter-increment:threadpostcount !important;}
#neutron .image-info{color:#999999;background:#212121;border:solid 1px #454545;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:2px;margin:4px;}
#neutron .image-info a{color:#789922;}
#neutron img.image{border:none;margin:4px;}
#neutron .message{padding:2px;margin:0.5em;}
#neutron .bbcode a.b{font-size:0;}
#neutron .bbcode a.b:before{content:url(bold.png);}
#neutron .bbcode a.i{font-size:0;}
#neutron .bbcode a.i:before{content:url(italic.png);}
#neutron .bbcode a.s{font-size:0;}
#neutron .bbcode a.s:before{content:url(strike.png);}
#neutron .bbcode a.u{font-size:0;}
#neutron .bbcode a.u:before{content:url(underline.png);}
#neutron .bbcode a.spoiler{font-size:0;}
#neutron .bbcode a.spoiler:before{content:url(spoiler.png);}
#neutron .bbcode a.hide{font-size:0;}
#neutron .bbcode a.hide:before{content:url(hide.png);}
#neutron .bbcode a.sup{font-size:0;}
#neutron .bbcode a.sup:before{content:url(sup.png);}
#neutron .bbcode a.sub{font-size:0;}
#neutron .bbcode a.sub:before{content:url(sub.png);}
#neutron .bbcode a.code{font-size:0;}
#neutron .bbcode a.code:before{content:url(code.png);}
#neutron .bbcode a.quote{font-size:0;}
#neutron .bbcode a.quote:before{content:url(quote.png);}
#neutron .bbcode a{text-decoration:none!important;color:transparent !important;}
#neutron input#username,
#neutron input#email,
#neutron input#topic,
#neutron input#captcha,
#neutron input#password,
#neutron input#file{-moz-appearance:none;-webkit-appearance:none;appearance:none;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;color:#BBBBBB;border:2px solid #545454;background-color:#111111;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#neutron input#username:hover,
#neutron input#email:hover,
#neutron input#topic:hover,
#neutron input#captcha:hover,
#neutron input#password:hover,
#neutron input#username:focus,
#neutron input#email:focus,
#neutron input#topic:focus,
#neutron input#captcha:focus,
#neutron input#password:focus,
#neutron input#file:hover,
#neutron input#file:focus{background-color:#151515;color:#AAAAFF;}
#neutron img.captcha-img{margin:0 0 5px !important;}
#neutron textarea{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;-moz-appearance:none;-webkit-appearance:none;appearance:none;background-color:#111111;color:#CCCCCC;border:2px solid #545454;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#neutron textarea:hover,
#neutron textarea:focus{background-color:#151515;color:#EEEEEE;}
#neutron .stats{font-family:courier;font-size:0.9em;color:#999999;}
#neutron .copyright{color:#6EBCFF;}
#neutron .copyright a{text-shadow:none;}
#neutron ::-moz-selection{background:#666666;color:#DBDBDB;text-shadow:none;}
#neutron ::selection{background:#666666;color:#DBDBDB;text-shadow:none;}
#neutron .skipped{font-size:0.9em;color:#999999;padding:4px;}
#neutron input,
#neutron textarea{-moz-box-shadow:none !important;-webkit-box-shadow:none !important;box-shadow:none !important;}
#neutron .message a,
#neutron .number a,
#neutron .number,
#neutron nav.clearfix a{text-decoration:underline;}
#neutron .poster a[href="sage"],
#neutron .poster a[href="Sage"],
#neutron .poster a[href="SAGE"],
#neutron .poster a[href="sage"]:hover,
#neutron .poster a[href="Sage"]:hover,
#neutron .poster a[href="SAGE"]:hover{color:#CC1212 !important;}
#neutron .poster a[href="sage"]:before,
#neutron .poster a[href="Sage"]:before
#neutron,.poster a[href="SAGE"]:before{content:url(sage.png);padding-right:2px;}
