html#dvach {
    background: #fff;
    font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#505050;
}

#dvach .post {line-height:22px; background:#f6f6f6; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; width:646px; margin:0 0 6px 0;}


#dvach .thread .post:first-child {background: none;}