* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 13px;
    font-family: Verdana, sans-serif;
}

header, nav, article, footer, address, section {
    display: block;
}

html {
    background-color: #EEE;
    color: #333;
}

a:link, a:visited {color:#f60;}
a:hover {color:#06f;}

#container {
    height: 100%;
    margin-right: 10px;
    padding-left: 10px;
}

/* Header */

#sidebar {
    position: fixed;
    padding-left: 15px;
    width: 225px;
    float: left;
    padding-top: 2px;
    display: none;
}

.showSidebar #sidebar {display: block;}
.showSidebar #container {padding-left: 250px;}

#sidebar h2 {
    font-size: 2em;
    color: #f60;
}

#sidebar h2 a {
    font-size: 1em;
}

.hidelink {
    display: block;
    text-align: right;
    font-size: 0.9em;
    text-decoration: none;
    margin: 4px;
}

#sidebar h3 {
    background-color: #DDD;
    line-height: 23px;
    padding-left: 3px;
    margin-right: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#sidebar ul {
    list-style-type: none;
    border-left: 1px solid #ddd;
    margin-left: 15px;
    padding-left: 7px;
}

#sidebar ul li {
    padding: 1px 0 1px 0;
}

#sidebar a {
    text-decoration: none;
}

/* Header */

#site-header {
    border-bottom: 1px solid #AAA;
}

#site-header nav {
    overflow: hidden;
    _zoom: 1;
    padding-top: 10px;
}

#site-header nav ul {
    display: inline;
    list-style-type: none;
    margin-right: 2px;
}

#site-footer nav ul {
    display: inline;
    margin: 6px 0 6px 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination:before {
    content: '[';
}

ul.pagination:after {
    content: ']';
}

ul.pagination li:after {
    content: ' / ';
}

ul.pagination li:last-child:after {
    content: '';
}

ul.pagination li a {
    font-size: 0.95em;
}

#site-header .searchbox {
    clear: both;
    overflow: hidden;
    _zoom: 1;
    margin-top: 5px;
    padding-right: 15px;
}

#site-header .searchbox form {
    display: block;
    float: right;
}

#site-header h1 {
    display: block;
    clear: both;
    text-align: center;
    margin-bottom: 15px;
}

#site-header h1 a {
    text-decoration: none;
    font-size: 34px;
}

.hideNav #site-header nav, .hideNav #site-footer nav {
    display: none;
}

/* New Post */

.newpost {
    border-bottom: 1px solid #AAA;
}

.newpost form {
    width: 650px;
    margin: 0 auto;
}

.newpost label {
    float: left;
    width: 140px;
    font-weight: bold;
    color: #024;
    font-size: 1.05em;
}

.newpost input[type="text"], .newpost input[type="email"], .newpost input[type="password"] {
    width: 145px;
    padding: 2px;
}

.no_captcha .newpost .captcha-d, .is_mod .newpost .captcha-d {display: none;}

.newpost .bbcodes {
    display: none;
}

.showBBCodes .newpost .bbcodes {
    display: block;
}

.bbcodes a {text-decoration: none;}
.bbcodes .b {font-weight: bold;}
.bbcodes .i {font-style: italic;}
.bbcodes .s {text-decoration: line-through;}
.bbcodes .u {text-decoration: underline;}
.bbcodes .quote:before {content: '>';}
.bbcodes .code {font-family: 'Menlo', 'Monaco', 'Consolas', 'Droid Sans Mono', Courier, monospace;}

.newpost textarea {width: 450px;}

.newpost dd {
    display: block;
    overflow: hidden;
}
.new-style form {width: 455px;}
.new-style dt {display: none;}
.new-style .file-d {float: left;}
.new-style input[type="submit"] {float: right;}


fieldset {border: 0;}
.newpost fieldset {
    padding-top: 15px;
}
#container[role="settings"] fieldset {
    padding: 10px 0;
}

.newpost fieldset dl {
    margin-bottom: 5px;
}

.newpost .info {
    clear: both;
    text-align: center;
    padding-bottom: 15px;
}

.newpost .info li {list-style: none;}

.disableTools .tools {display: none;}
.tools {margin-top: 5px;}
.tools input#filterPosts {
    width: 2em;
    vertical-align: bottom;
}
.tools .filterPosts .slider {
    width: 400px;
    margin: 5px 0 0 5px;
}

.post:first-child .file img {margin-right: 20px;}

.post .title {font-size: 1.2em;}

.post .poster, .post time {font-size: 1.06em;}

.post .title, .post .number {
    font-weight: bold;
}

.post .number {font-size: 0.9em;}
.post .number:before {content: "#";}

#main .replylink {
    text-decoration: none;
}

#main .replylink:before {
    content: '[ ';
}

#main .replylink:after {
    content: ' ]';
}

#main .filemeta {
    font-style: italic;
    margin-bottom: 2px;
    font-size: 0.85em;
}

.filemeta * {font-size: 1em;}

.answer-map {font-style: italic; margin-top: 4px; font-size: 0.85em;}
.answer-map a {font-size: 1em;}

a.file img {
    border: none;
    float: left;
    margin: 0 6px 6px 0;
}

.nsfw a.file img {
    opacity: 0.1;
}

.nsfw a.file img:hover {
    opacity: 1;
}

.skipped {
    display: block;
    color: #666;
    margin-top: 5px;
}

.thread {
    border-bottom: 1px solid #AAA;
    padding: 5px 0 5px 0;
    overflow: hidden;
    _zoom: 1;
}

.post {
    background-color: #ddd;
    border: 1px solid #ccc;
    overflow: hidden;
    display: table;
    _zoom: 1;
    margin: 5px 0 5px 0;
    padding: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.post.hidden header, .post.hidden .filemeta, .post.hidden .file,
.post.hidden .message, .post.hidden .answer-map {
    display: none;
}

.deleted {
    background-color: #b00;
}

blockquote {
    color: #789922;
}

.hardHide .post.hidden {
    display: none;
}

.post-preview {position: absolute;}

.rssButton, .twitterButton {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    background-image: url(../images/sprites.png);
    vertical-align: bottom;
}

.twitterButton {
    background-position: 0 -83px;
}
.rssButton {
    width: 15px;
    height: 14px;
    background-position: -16px -84px;
}

.button {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: rgba(255, 255, 255, .4) 0 1px, inset 0 20px 20px -10px #fff;
    -webkit-box-shadow: rgba(255, 255, 255, .4) 0 1px, inset 0 20px 20px -10px #fff;
    box-shadow: rgba(255, 255, 255, .4) 0 1px, inset 0 20px 20px -10px #fff;
    background: #d6d6d6;
    border: 1px solid rgba(0, 0, 0, .6);
    color: #000;
    display: inline-block;
    font-size: 0.9em;
    line-height: 13px;
    padding: 3px 6px;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
}

.button.active {
    -moz-box-shadow: inset rgba(0, 0, 0, .4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, .4) 0 1px;
    -webkit-box-shadow: inset rgba(0, 0, 0, .4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, .4) 0 1px;
    background: #b5b5b5;
    box-shadow: inset rgba(0, 0, 0, .4) 0 -5px 12px, inset rgba(0, 0, 0, 1) 0 1px 3px, rgba(255, 255, 255, .4) 0 1px;
}

.filterParams, .sliderInfo {
    display: none;
}

.sliderInfo {
    margin-top: -0.8em;
    margin-left: 410px;
}

/*
.post .message {
    max-height: 300px;
    overflow: auto;
}*/

.thread .post:first-child {
    background-color: #eee;
    border: 0;
    overflow: visible;
    display: block;
    _zoom: 0;
    margin: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.ie7 .post {float: left;}
.ie7 .post:first-child {float: none;}

.mod, .admin {display: none;}
.is_mod .mod {display: block;}
.is_admin .admin {display: block;}

.actions .pagination {
    margin: 6px 0 6px 0;
}

.actions .removePosts .hidden {
    display: none;
}

.copyright {
    clear: both;
    text-align: center;
}

/*
  HTML5 ✰ Boilerplate

  style.css contains a reset, font normalization and some base styles.

  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

 /* Primary Styles
    Author: Paul Bagwell
 */

.number a {color: inherit; text-decoration: none;} 
.dashed {border: 1px dashed;}
.stats {border: 1px dashed; padding: 0 5px;}
#container + iframe {display: none;} /* Recaptcha bug */
.post header {
}
.post .tripcode {color: #228854;}
.post .tripcode:not(:empty):before {content: "!";}
.post .tripcode.staff {color: #800080;}
.is_closed, .is_pinned, .bookmark, .hide, .rss, .useragent, .useragent img {
    width: 16px; 
    height: 16px; 
}
.is_closed, .is_pinned, .bookmark, .hide, .rss {
    background-image: url('../images/sprites.png');
    background-repeat: no-repeat;
}

.is_closed {background-position: -16px 0;}
.is_pinned {background-position: -48px 0;}
.bookmark {background-position: 0 0;}
.add {opacity: 0.3;filter:alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
.rss {background-position: -20px -50px;}
.hide {background-position: -32px 0;}
.useragent {vertical-align: bottom;}

.underlined {border-bottom: 1px dashed;}
.spoiler {background: #bbb; color: #bbb;}
.spoiler:hover {color: #333;}


/* yeah 
#container > b { display: block; position: fixed; top: 50%; left: -1em; width: 1em; height: 100%; z-index: -1; background: #f60; -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; border: 1px dotted #f60; }
#container > b.border-b { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%; left: auto; right: -1em; }
#container > b.border-c { -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; left: 2em; top: 0; }
#container > b.border-d { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%; left: auto; right: 2em; top: 0; }
*/

/* New post */
/*
.new-post .bbcode {display: none;}
.new-post .message-d dt {margin-top: 80px;}
.new-post textarea{width:34em;height:10em;}
.new-style fieldset {width: 400px;}
.new-style dt {display: none;}
.new-style .message-d > dd {width: 390px; padding: 5px 0;}
.new-style .bbcode {display: block; margin-top: 0;}
.new-style textarea {width: 100%;}
.new-style input {min-width: 162px;}
.new-style input[type="submit"] {margin-left: 5px;}
.new-post .captcha-img {vertical-align: bottom; margin:0; padding:0;}
.new-style .username-d, .new-style .topic-d {float: left;}
.new-style .email-d, .new-style .password-d {float: right;}

label.placeholder {
    padding: 4px 4px 4px 4px;
    color: #999999;
}

/* Notifications */
.notification-container{width:280px;z-index:9999;}
.notification-container{position:absolute;}
.notification-item{height:auto;background:#333;opacity:.9;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;color:#eee;padding-top:20px;padding-bottom:20px;padding-left:6px;padding-right:6px;font-family:lucida Grande;font-size:14px;border:2px solid #999;display:block;position:relative;margin:0 0 12px 0;}
.notification-item p{text-align:left;margin-left:35px;}
.notification-item-close{background: url('../images/sprites.png') -3px -50px no-repeat;
    width:25px;height:25px;position:absolute;top:7px;right:7px;}
.notification-item-image{width:32px;height:32px;margin-top:-5px;margin-right:5px;float:left; background-image: url('../images/sprites.png'); background-repeat: no-repeat; background-position-y: -16px;}
.notification-item-image-notice{background-position: -32px -16px;}
.notification-item-image-success{background-position: -64px -16px;}
.notification-item-image-warning{background-position: -96px -16px;}
.notification-item-image-error{background-position: 0px -16px;}
.notification-type-notice{color:white;}
.notification-type-success{color:white;}
.notification-type-warning{color:white;border-color:#FCBD57;}
.notification-type-error{color:white;border-color:#B32B2B;}
.notification-position-top-right{position:fixed;top:20px;right:20px;}
.notification-position-center{position:absolute;left:50%;margin-left:-140px;margin-top:-40px;top:50%;}
.notification-position-middle-bottom{position:absolute;left:50%;margin-left:-140px;margin-top:-40px;top:75%;}

/* Code highlight */
pre {
    font-family: 'Menlo', 'Monaco', 'Consolas', 'Droid Sans Mono', Courier, monospace;
    font-size: 0.75em;
    padding: 0.5em;
    margin: 1em 0;
    background-color: #fafafa;
    border: solid 1px #ccc;
    width: auto;
}

.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #008000 } /* Comment */
.codehilite .err { border: 1px solid #FF0000 } /* Error */
.codehilite .k { color: #0000ff } /* Keyword */
.codehilite .cm { color: #008000 } /* Comment.Multiline */
.codehilite .cp { color: #0000ff } /* Comment.Preproc */
.codehilite .c1 { color: #008000 } /* Comment.Single */
.codehilite .cs { color: #008000 } /* Comment.Special */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gh { font-weight: bold } /* Generic.Heading */
.codehilite .gp { font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { font-weight: bold } /* Generic.Subheading */
.codehilite .kc { color: #0000ff; font-weight: bold; } /* Keyword.Constant */
.codehilite .kd { color: #0000ff } /* Keyword.Declaration */
.codehilite .kn { color: #0000ff } /* Keyword.Namespace */
.codehilite .kp { color: #0000ff } /* Keyword.Pseudo */
.codehilite .kr { color: #0000ff } /* Keyword.Reserved */
.codehilite .kt { color: #2b91af } /* Keyword.Type */
.codehilite .s { color: #a31515 } /* Literal.String */
.codehilite .nc { color: #2b91af } /* Name.Class */
.codehilite .ow { color: #0000ff } /* Operator.Word */
.codehilite .sb { color: #a31515 } /* Literal.String.Backtick */
.codehilite .sc { color: #a31515 } /* Literal.String.Char */
.codehilite .sd { color: #a31515 } /* Literal.String.Doc */
.codehilite .s2 { color: #a31515 } /* Literal.String.Double */
.codehilite .se { color: #a31515 } /* Literal.String.Escape */
.codehilite .sh { color: #a31515 } /* Literal.String.Heredoc */
.codehilite .si { color: #a31515 } /* Literal.String.Interpol */
.codehilite .sx { color: #a31515 } /* Literal.String.Other */
.codehilite .sr { color: #a31515 } /* Literal.String.Regex */
.codehilite .s1 { color: #a31515 } /* Literal.String.Single */
.codehilite .ss { color: #a31515 } /* Literal.String.Symbol */


/* IE */
.ie7 body {
    background:url(about:blank);
}

.ie7 #sidebar {
  position:absolute;
  top:expression(eval(document.documentElement.scrollTop));
}

.ie7 .post .number {
    z-index: expression(runtimeStyle.zIndex = 1, this.innerHTML = "#" + this.innerHTML);
}

.ie7 ul.pagination, .ie7 .replylink {
    z-index: expression(runtimeStyle.zIndex = 1, this.innerHTML = "[ " + this.innerHTML + " ]");
}

.ie7 ul.pagination li {
    z-index: expression(runtimeStyle.zIndex = 1, this.innerHTML += ' / ');
}

.ie7 ul.pagination li:last-child {
    z-index: expression(runtimeStyle.zIndex = 1, this.innerHTML = '');
}

.ie7 .iewrap {clear:both;}

/*
 * media queries for responsive design
 * these follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
    /* style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) {
    /* style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 640px) {
    /* j.mp/textsizeadjust
    html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
    .section-banner {display: none;}
    .fieldset dl {display: none;}
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
    -ms-filter: none !important; } /* black prints faster: sanbeiji.com/archives/953 */
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}

