/*
  HTML5 ✰ Boilerplate

  style.css contains a reset, font normalization and some base styles.

  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font: inherit;
  vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  there are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/*
 * minimal base styles
 */


body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE: */
html { overflow-y: scroll; }


/* accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* remove margins for navigation lists */
nav ul, nav li { margin: 0; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* set sub, sup without affecting line-height: gist.github.com/413930*/
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; 
  /* white-space: pre-line; */
  word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
 -webkit-box-shadow: 0px 0px 5px red;
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection { background: #F14A29; color:#fff; text-shadow: none; }
::selection { background:#F14A29; color:#fff; text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/*
 * Non-semantic helper classes
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
    border: 0 !important;
    clip: rect(0 0 0 0);
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }






 /* Primary Styles
    Author: Paul Bagwell
 */

body {
    color: #333; 
    background: #eee;
    font: normal normal 300 14px/18px HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
}
a:link, a:visited { text-decoration: none; }
h1 {font-size: 2.5em; line-height: 1.5;}
h2 {font-size: 2em; line-height: 1.4;}
h3 {font-size: 1.6em; line-height: 1.3;}
h4 {font-size: 1.3em; line-height: 1.2;}
h5 {font-size: 1.1em; line-height: 1.1;}
em {font-style: italic;}
.search input[type="text"] {width: 5em;}

.menu {float: right;}
.left {float: left;}
.right {float: right;}
.dashed { border: 1px dashed; }
.stats {border: 1px dashed; padding: 0 5px;}
.overflow-hidden {overflow: hidden !important;}
#container + iframe {display: none;} /* Recaptcha bug */


/* yeah */
#container > b { display: block; position: fixed; top: 50%; left: -1em; width: 1em; height: 100%; z-index: -1; background: #f60; -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; border: 1px dotted #f60; }
#container > b.border-b { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%; left: auto; right: -1em; }
#container > b.border-c { -webkit-transform: scale(1.5) rotate(-45deg); -webkit-transform-origin: 20% 0%; -moz-transform: scale(1.5) rotate(-45deg); -moz-transform-origin: 20% 0%; left: 2em; top: 0; }
#container > b.border-d { -webkit-transform: scale(1.5) rotate(45deg); -webkit-transform-origin: 80% 0%; -moz-transform: scale(1.5) rotate(45deg); -moz-transform-origin: 80% 0%; left: auto; right: 2em; top: 0; }

/* Top */
#container-wrap > header {border-bottom: 1px solid #aaa; margin-bottom: 5px; padding-bottom: 5px;}
.logo {display: table; margin: 0 auto;}
.section-banner {width: 300px; height: 100px; margin: 0 auto;}
.search {float:right; width: 215px;}

/* Navigation panel */
nav ul {display: inline;}
nav li {float: left;}
.group, nav li {margin-left: 0;}
.group li {display: inline; margin-left: -0.6em;}
.group li:first-child {margin-left: 0}
.group li:first-child:before {content: " ["; padding-left: 2px;}
.group li:first-child a, .group li:first-child span { padding: 0; }
.group li:after {content: " •";}
.group li:last-child:after {content: "]";}
.group a, .group span {font-size: 1em; padding: 0 0 0 1em; white-space: nowrap; line-height: 2em; text-decoration: none; font-weight: bold; }

#container-wrap {float: left; width: 100%;}
#container-wrap > * {margin-left: 210px; margin-right: 10px;}
#sidebar {width: 210px; float: left; font-size: 1.1em; margin-left: -100%;}
#sidebar aside {position: fixed; overflow: hidden; width: 170px; padding-right: 20px;}
#sidebar .hidebutton {float: right;}
#sidebar h2 {margin-bottom: 10px;}
#sidebar h4 {font-size: 1em; margin-bottom: 1px;}
#sidebar li {list-style: none;}
#sidebar aside {margin: 0 1em;}
#sidebar ul {margin-left: 1em; padding-left: 0.5em;}

/* Main content */
#main {font-size: 1.1em;margin-bottom: 20px;}

/* New post */
#main > .new-post fieldset {margin: 0px auto 10px auto;}
section fieldset dl:last-child > dd {margin-bottom: 10px;}
fieldset {width: 620px;}
fieldset dl {font-size: 1.1em;}
fieldset dt {width: 150px; font-weight: bold;}
.new-post textarea{width:34em;height:10em;}
.new-style fieldset {width: 400px;}
.new-style dt {display: none;}
.new-style .message-d > dd {width: 390px; padding: 5px 0;}
.new-style .bbcode {margin-top: 0;}
.new-style textarea {width: 100%;}
.new-style input {min-width: 162px;}
.new-style input[type="submit"] {margin-left: 5px;}
.new-post .captcha-img {vertical-align: bottom; margin:0; padding:0;}
.new-style .username-d, .new-style .topic-d {float: left;}
.new-style .email-d, .new-style .password-d {float: right;}
label.placeholder {
		padding: 4px 4px 4px 4px;
		color: #999999;
	}
.settings dt {width: auto; margin-bottom: 8px;}
.settings input {vertical-align: top;}

/* Threads and posts */
.thread {margin-bottom: 10px;}
.thread, .faq {border-top: 1px solid; padding-top: 5px; margin-top: 5px;}
.skipped {color: #666;}
.post, .faq > li{background: #ddd; padding: 5px; margin-bottom: 5px;}
.post:after {clear: both;}
.post header {padding-bottom: 20px;}
.post .answer {float: right;}
.post .number:before {content: "№";}
.post .number {font-weight: bold;}
.post .number a, .post .number a:visited {color: inherit;}
.post .number a:hover {color: #06f;}
.post .poster a {text-decoration: underline;}
.post .tripcode {color: #228854;}
.post .tripcode:not(:empty):before {content: "!";}
.post .topic {font-weight: bold;}
.post .content {max-height: 400px; overflow: auto;}
.post .file-info {margin: -20px 0 5px 0; position: absolute;}
.post .files {} 
.post img.nsfw {opacity: 0.2; filter:alpha(opacity=20);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
.post .message {display: inline-block;}
.post .message, .post .message * {vertical-align:top;}
.post .message.poster ins {background: none; text-decoration: underline; font-weight: normal; color: inherit;}
.post blockquote {color: #789922; clear: both;}
.post blockquote > p {display: inline;}
.post .files {margin-right: 10px; float:left; max-width: 220px; max-height: 220px;}
.post.resized .content {max-height: none;}
.post.resized .files {max-width: none; max-height: none;}
.post span:empty {margin: 0;}
.deleted {background: #e44;}
.info-wrapper {float: left;}
.info-wrapper > * {float: left; margin: 0 5px 0 0;}
.file-info a:link, .file-info a:hover {text-decoration: underline;}
.file-info {color: #666; font-size: 0.9em;}

.is_closed, .is_pinned, .bookmark, .hide {width: 16px; height: 16px; float: right;}
.is_closed {background: url('../images/closed.png');}
.is_pinned {background: url('../images/pinned.png');}
.bookmark {background: url('../images/bookmark.png');}
.add {opacity: 0.3;filter:alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
.hide {background: url('../images/hide.png');}

.underlined {border-bottom: 1px dashed;}
.spoiler {background: #bbb; color: #bbb;}
.spoiler:hover {color: #333;}

.buttons {float: right; margin-left: 5px;}
.buttons .fav:before {content: "F";}
.buttons .hide:before {content: "X";}
.bbcode {font-size: 1.4em; margin-top: 5px;}
.bbcode a, .bbcode a:visited {
    font-weight: bold; 
    padding: 0 2px;
}
.bbcode > .b {font-weight: bold;}
.bbcode > .i {font-style: italic;}
.bbcode > .u {text-decoration: underline;}
.bbcode > .s {text-decoration: line-through;}

.deleteMode {margin: 5px 0;}
.deleteMode > div {display: none;}
.faq {list-style: none; margin-left: 0;}
.faq li li {list-style: none;}

footer .copyright {text-align: center;}
footer .copyright a {text-decoration: underline;}

/* Notifications */
.notification-container{width:280px;z-index:9999;}
.notification-container{position:absolute;}
.notification-item{height:auto;background:#333;opacity:.9;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;color:#eee;padding-top:20px;padding-bottom:20px;padding-left:6px;padding-right:6px;font-family:lucida Grande;font-size:14px;border:2px solid #999;display:block;position:relative;margin:0 0 12px 0;}
.notification-item p{text-align:left;margin-left:35px;}
.notification-item-close{background:url(../images/close.gif);width:22px;height:22px;position:absolute;top:7px;right:7px;}
.notification-item-image{width:32px;height:32px;margin-top:-5px;margin-right:5px;float:left;}
.notification-item-image-notice{background:url(../images/notice.png);}
.notification-item-image-success{background:url(../images/success.png);}
.notification-item-image-warning{background:url(../images/warning.png);}
.notification-item-image-error{background:url(../images/error.png);}
.notification-type-notice{color:white;}
.notification-type-success{color:white;}
.notification-type-warning{color:white;border-color:#FCBD57;}
.notification-type-error{color:white;border-color:#B32B2B;}
.notification-position-top-right{position:fixed;top:20px;right:20px;}
.notification-position-center{position:absolute;left:50%;margin-left:-140px;margin-top:-40px;top:50%;}
.notification-position-middle-bottom{position:absolute;left:50%;margin-left:-140px;margin-top:-40px;top:75%;}

/* Code highlight */
pre {
    font-family: 'Menlo', 'Monaco', 'Consolas', 'Droid Sans Mono', Courier, monospace;
    font-size: 0.75em;
    padding: 0.5em;
    margin: 1em 0;
    background-color: #fafafa;
    border: solid 1px #ccc;
    width: auto;
}
.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #008000 } /* Comment */
.codehilite .err { border: 1px solid #FF0000 } /* Error */
.codehilite .k { color: #0000ff } /* Keyword */
.codehilite .cm { color: #008000 } /* Comment.Multiline */
.codehilite .cp { color: #0000ff } /* Comment.Preproc */
.codehilite .c1 { color: #008000 } /* Comment.Single */
.codehilite .cs { color: #008000 } /* Comment.Special */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gh { font-weight: bold } /* Generic.Heading */
.codehilite .gp { font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { font-weight: bold } /* Generic.Subheading */
.codehilite .kc { color: #0000ff; font-weight: bold; } /* Keyword.Constant */
.codehilite .kd { color: #0000ff } /* Keyword.Declaration */
.codehilite .kn { color: #0000ff } /* Keyword.Namespace */
.codehilite .kp { color: #0000ff } /* Keyword.Pseudo */
.codehilite .kr { color: #0000ff } /* Keyword.Reserved */
.codehilite .kt { color: #2b91af } /* Keyword.Type */
.codehilite .s { color: #a31515 } /* Literal.String */
.codehilite .nc { color: #2b91af } /* Name.Class */
.codehilite .ow { color: #0000ff } /* Operator.Word */
.codehilite .sb { color: #a31515 } /* Literal.String.Backtick */
.codehilite .sc { color: #a31515 } /* Literal.String.Char */
.codehilite .sd { color: #a31515 } /* Literal.String.Doc */
.codehilite .s2 { color: #a31515 } /* Literal.String.Double */
.codehilite .se { color: #a31515 } /* Literal.String.Escape */
.codehilite .sh { color: #a31515 } /* Literal.String.Heredoc */
.codehilite .si { color: #a31515 } /* Literal.String.Interpol */
.codehilite .sx { color: #a31515 } /* Literal.String.Other */
.codehilite .sr { color: #a31515 } /* Literal.String.Regex */
.codehilite .s1 { color: #a31515 } /* Literal.String.Single */
.codehilite .ss { color: #a31515 } /* Literal.String.Symbol */

/*
 * media queries for responsive design
 * these follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
    /* style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) {
    /* style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 640px) {
    /* j.mp/textsizeadjust
    html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
    .section-banner {display: none;}
    .fieldset dl {display: none;}
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
    -ms-filter: none !important; } /* black prints faster: sanbeiji.com/archives/953 */
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}

