<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
  {% load i18n %}
  <title>{{ settings.SITE_TITLE }} {% trans "mobile" %} {% block title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/handheld.css?v=2">
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
</head>
<body>
  <div id="main">
    {% block content %}{% endblock %}
  </div>
</body>
</html>