<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <style type="text/css" media="screen">
        canvas {border: 1px solid #888; }
        #color-current, #color-selected {width: 50px; height: 25px}
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script src="/media/js/plugins.js"></script>
    <script src="/media/js/script.js"></script>
</head>
<body>
    
<div class="create">
    <input type="text" name="canvas-x" value="700" id="canvas-x">
    <input type="text" name="canvas-y" value="350" id="canvas-y">
</div>
<div class="drawers">
    <canvas id="drawing" width="740" height="370"></canvas>
    <canvas id="color-picker" width="371" height="370"></canvas>
</div>    
Текущий цвет: <div id="color-selected" style="background-color: #000;"></div>
    <!--<div id="color-current"></div>-->

<div>
    <label for="paint-width">Толщина:</label>
    <input type="range" name="paint-width" min="0.1" max="15" step="0.4" value="1.5" id="paint-width">
    <span id="paint-width-v">1.5</span>
    <label for="opac">Интенсивность:</label>
    <input type="range" name="opac" min="0.01" max="1" step="0.01" value="1" id="opac">
    <span id="opac-v">1</span>
</div>

<button type="button" id="seiv">Save</button>

<form action="colors.php" method="POST" id="canvas-form" accept-charset="utf-8">
    <input type="hidden" name="imageElement" id="imageElement">
    <?php if (isset($_POST['imageElement'])) {
        echo '<img src="'.$_POST['imageElement'].'" />';
    } ?>
    <p><input type="submit" value="Continue &rarr;"></p>
</form>

<script>
    //1. Юзер вставил файл.
    //2. Юзер решил нарисовать.
    //ЛЮБОЙ выбор должен перебивать прежний, то есть, например, удалять из формы второй элемент.
    $('#canvas-x').change(function(event) {
        $('#drawing').attr('width', this.value);
    });
    
    $('#canvas-y').change(function(event) {
        $('#drawing').attr('height', this.value);
    });
    
    
    var d = new $.drawer('drawing', '#canvas-z', function(data) {
        var inp = $('<input/>', {type : 'hidden', 'name' : 'imageElement', 'id' : 'imageElement'});
        inp.appendTo('head');
        inp.val(data);
    }),
        cp = new $.colorPicker('/media/images/color-picker.png', 
        'color-picker', 'color-current', function(color) {
        var alpha = d.color.data[3];
        d.color.data = color.data;
        d.color.data[3] = alpha;
        $('#color-selected').css({backgroundColor : d.color.rgba});
    });
    
    $('#paint-width').change(function(event) {
        var val = Math.round(this.value*10)/10;
        $('#'+this.id+'-v').text(val)
        d.width = val;
    });
    
    $('#opac').change(function(event) {
        var val = Math.round(this.value*100)/100;
        d.color.alpha = val;
        $('#'+this.id+'-v').text(val);
        $('#color-selected').css({backgroundColor : d.color.rgba});
        $('#color-picker').css({opacity : d.color.alpha})
    });
</script>
</body>
</html>