{% load md2 %}<article class="post clearfix" id="post{{post.pid}}" data-id="{{post.id}}">
    <div class="post-wrapper">
        <header class="clearfix">
            <div class="info-wrapper">
                <span class="number"><a href="{{thread.op_post.pid|default:""}}#post{{post.pid}}">{{post.pid}}</a></span>
                <time datetime="{{post.date|date:'Y-m-d H:i:s'}}" pubdate>{{post.date|date:'d.m.Y H:i:s'}}</time>
                <span class="name" data-default="true">{% if post.email %}<a href="mailto:{{post.email}}">{% endif %}{{post.poster}}{% if post.email %}</a>{% endif %}</span>
                <span class="tripcode">{{post.tripcode}}</span>
                <span class="title">{{post.topic}}</span>
            </div>
        </header>
        <div class="content">
            {% if post.file_count > 0 %}
            {% for f in post.file_set.all %}
            <div class="file">
                <div class="file-info"> <!-- TODO: EDIT ME -->
                    <a target="_blank" href="{{ MEDIA_URL }}images/post.jpg">144492.png</a>
                    (<em>7Кб, 150x149</em>)
                    <a href="#image-edit" class="edit">G</a>
                </div>
                <a href="{{ MEDIA_URL }}images/post.jpg" onclick="resize"><img src="{{ MEDIA_URL }}images/post.jpg" alt="Image"></a>
            </div>
            {% endfor %}
            {% endif %}
            <div class="text">
                {% autoescape off %}
                {{ post.message|markdown2:"safe,code-friendly,code-color" }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</article>