{% extends 'base.html' %}
{% block title %}{{section.name}}{% endblock %}

{% load cache %}
{% load i18n %}

{% block content %}
    {% if not threads %}
        <a href="./">{% trans "Go back" %}</a>
    {% endif %}
    {% include "form.html" %}
    <h3><a href="http://2-ch.ru/pr/res/9227.html">О багах писать сюда</a></h3>
    {{section.description}}
    <div class="threads">
        {% autoescape off %}
        {% if threads %}
            {% for thread in threads.object_list %}
                {{thread.html}}
            {% endfor %}
        {% else %}
            {% block thread %}{% endblock %}
        {% endif %}
        {% endautoescape %}
    </div>
    {% if threads %}
        <div class="paginator">
            <ul class="group">
            {% for p in threads.paginator.page_range %}
                {% if p != threads.number %}
                    <li><a href="page{{p}}">{{p}}</a></li>
                {% else %}
                    <li><span>{{p}}</span></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="deleteMode">
        <input type="button" value="{% trans "Delete posts" %}" data-back="{% trans "Cancel" %}" class="toggle">
        <p style="display: none">
            <label for="onlyFiles">{% trans "Only files" %}</label>
            <input type="checkbox" name="onlyFiles" id="onlyFiles">
        </p>
    </div>
{% endblock %}