{% extends "section_base.html" %}
{% load i18n %}
{% block title %}{% trans "Thread title" %} {{thread.op_post.pid}}{% endblock %}

{% block section %}
    <a href=".">{% trans "Go back" %}</a>
    {% include "form.html" %}
    <section class="threads">
        <section class="thread" id="thread{{thread.id}}">
            {% autoescape off %}
            {% for post in thread.posts_html %}
            {{post.html}}
            {% endfor %}
            {% endautoescape %}
        </section>
    </section>
{% endblock %}