{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Settings" %}{% endblock %}

{% block content %}
<form>
    <fieldset class="settings">
        <dl>
            <dt>
                <label for="ustyle">{% trans "Board style" %}</label>
            </dt>
            <dd>
                <select name="ustyle" id="ustyle" size="1">
                    <option value="photon">Photon</option>
                    <option value="neutron">Neutron</option>
                    <option value="klipton">Klipton</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="oldInsert">{% trans "Old posting way" %}</label>
            </dt>
            <dd><input type="checkbox" name="oldInsert" id="oldInsert"></dd>
        </dl>
        <dl>
            <dt>
                <label for="newForm">{% trans "New style form" %}</label>
            </dt>
            <dd><input type="checkbox" name="newForm" id="newForm"></dd>
        </dl>
        <dl>
            <dt>
                <label for="hideNotifications">{% trans "Disable notifications" %}</label>
            </dt>
            <dd><input type="checkbox" name="hideNotifications" id="hideNotifications"></dd>
        </dl>
        <dl>
            <dt>
                <label for="noAJAX">{% trans "Disable ajax" %}</label>
            </dt>
            <dd><input type="checkbox" name="noAJAX" id="noAJAX"></dd>
        </dl>
        <dl>
            <dt>
                <label for="hideBBCodes">{% trans "Hide markup panel" %}</label>
            </dt>
            <dd><input type="checkbox" name="hideBBCodes" id="hideBBCodes"></dd>
        </dl>
        <dl>
            <dt>
                <label for="hideSidebar">{% trans "Hide sidebar" %}</label>
            </dt>
            <dd><input type="checkbox" name="hideSidebar" id="hideSidebar"></dd>
        </dl>
        <dl>
            <dt><label for="hideNav">{% trans "Hide navigation" %}</label></dt>
            <dd><input type="checkbox" name="hideNav" id="hideNav"></dd>
        </dl>
        <dl>
            <dt><label for="hideSectBanner">{% trans "Hide sections banner" %}</label></dt>
            <dd><input type="checkbox" name="hideSectBanner" id="hideSectBanner"></dd>
        </dl>
        <dl>
            <dt><label for="dontLogVisits">{% trans "Don't log visited threads" %} (<a href="?clear" class="clearVisitedThreads">{% trans "clear" %}</a>)</label></dt>
            <dd><input type="checkbox" name="dontLogVisits" id="dontLogVisits"></dd>
        </dl>
    </fieldset>
</form>

<div class="visitedThreads" style="display: none;">
    <h4>{% trans "Visited threads" %}</h4>
    <h5>{% trans "Sorted by the" %}
        <select name="visitedThreadsSort" id="visitedThreadsSort" size="1">
            <option value="time">{% trans "time of first visit" %}</option>
            <option value="visits">{% trans "visits count" %}</option></select>
    </h5>
    <ul></ul>
</div>
{% endblock %}