{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Settings" %}{% endblock %}

{% block content %}
<form>
    <fieldset class="settings">
        <dl>
            <dt><input type="submit" value="{% trans "Save preferences" %}"></dt>
        </dl>
        <dl>
            <dt>
                <label for="ustyle">{% trans "Board style" %}</label>
                <select name="ustyle" id="ustyle" size="1">
                    <option value="photon">Photon</option>
                    <option value="neutron">Neutron</option>
                    <!--<option value="klipton">Klipton (alpha)</option>-->
                </select>
            </dt>
        </dl>
        <dl>
            <dt>
                <input type="checkbox" name="newForm" id="newForm">
                <label for="newForm">{% trans "New style form" %}</label>
            </dt>
        </dl>
        <dl>
            <dt>
                <input type="checkbox" name="oldInsert" id="oldInsert">
                <label for="oldInsert">{% trans "Old posting way" %}</label>
            </dt>
        </dl>
        <dl>
            <dt>
                <input type="checkbox" name="hideNotifications" id="hideNotifications">
                <label for="hideNotifications">{% trans "Disable notifications" %}</label>
            </dt>
        </dl>
        <!--
        <dl>
            <dt>
                <input type="checkbox" name="noAJAX" id="noAJAX">
                <label for="noAJAX">{% trans "Disable ajax" %}</label>
            </dt>
        </dl>-->
        <dl>
            <dt>
                <input type="checkbox" name="hideBBCodes" id="hideBBCodes">
                <label for="hideBBCodes">{% trans "Hide markup panel" %}</label>
            </dt>
        </dl>
        <dl>
            <dt>
                <input type="checkbox" name="hideSidebar" id="hideSidebar">
                <label for="hideSidebar">{% trans "Hide sidebar" %}</label>
            </dt>
        </dl>
        <dl>
            <dt>
                <input type="checkbox" name="hideNav" id="hideNav">
                <label for="hideNav">{% trans "Hide navigation" %}</label>
            </dt>
        </dl>
        <dl>
            <dt>
                <input type="checkbox" name="disableBookmarks" id="disableBookmarks">
                <label for="disableBookmarks">{% trans "Disable bookmarks" %}</label>
            </dt>
        </dl>
        <dl>
            <dt>
                <input type="checkbox" name="disableHidden" id="disableHidden">
                <label for="disableHidden">{% trans "Disable posts hide" %}</label>
            </dt>
        </dl>
        
        <dl>
            <dt>
                <input type="checkbox" name="disablePostsPreview" id="disablePostsPreview">
                <label for="disablePostsPreview">{% trans "Disable posts preview" %}</label>
            </dt>
        </dl>
        <dl>
            <dt>
                <input type="checkbox" name="disableAnswersMap" id="disableAnswersMap">
                <label for="disableAnswersMap">{% trans "Disable answers map" %}</label>
            </dt>
        </dl>
        <dl>
            <dt>
                <input type="checkbox" name="disableBookmarks" id="disableBookmarks">
                <label for="disableBookmarks">{% trans "Disable bookmarks" %}</label>
            </dt>
        </dl>
        <dl>
            <dt>
                <input type="checkbox" name="hideSectBanner" id="hideSectBanner">
                <label for="hideSectBanner">{% trans "Hide sections banner" %}</label>
            </dt>
        </dl>
        <dl>
            <dt>
                <input type="checkbox" name="dontLogVisits" id="dontLogVisits">
                <label for="dontLogVisits">{% trans "Don't log visited threads" %} (<a href="?clear" class="clearVisitedThreads">{% trans "clear" %}</a>)</label>
            </dt>
        </dl>
    </fieldset>
</form>

<div class="visitedThreads hidden">
    <h4>{% trans "Visited threads" %}</h4>
    <h5>{% trans "Sorted by the" %}
        <select name="sortVisitedThreads" id="sortVisitedThreads" class="sortVisitedThreads" size="1">
            <option value="first_visit">{% trans "time of first visit" %}</option>
            <option value="-visits">{% trans "visits count" %}</option></select>
    </h5>
    <ul></ul>
</div>
{% endblock %}