{% load i18n %}
<aside class="sidebar">
    <h2><a href="/">{{settings.SITE_TITLE}}</a></h2>
    <div class="hide" title="{% trans 'Hide sidebar' %}"></div>
    {% for group in navigation %}
    {% if not group.is_hidden %}
    <h4 id="sect-group{{group.id}}">{{group.name}}</h4>
    <ul id="list-group{{group.id}}">
        {% for section in group.sections %}
        <li><a href="/{{section.slug}}/" title="{{section.name}}">{{section.name}}</a></li>{% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
</aside>