{% extends "base.html" %}
{% load cache i18n %}

{% block title %}{% trans "API" %}{% endblock %}

{% block content %}
  <h4>{% trans "Example URLs" %}</h4>
  <ul>
    <li><a href="thread/">thread/</a></li>
    <li><a href="thread/s/">thread/s/</a></li>
    <li><a href="thread/1">thread/1</a></li>
    <li><a href="thread/b/1">thread/b/1</a></li>
    <li><a href="post/">post/</a></li>
    <li><a href="post/b/">post/b/</a></li>
    <li><a href="post/6000">post/6000</a></li>
    <li><a href="post/b/5000">post/b/5000</a></li>
    <li><a href="section/">section/</a></li>
    <li><a href="section/1/">section/1/</a></li>
    <li><a href="section/b/">section/b/</a></li>
    <li><a href="sectiongroup/">sectiongroup/</a></li>
    <li><a href="sectiongroup/5">sectiongroup/5</a></li>
    <li><a href="file/">file/</a></li>
    <li><a href="file/5">file/5</a></li>
    <li><a href="filetype/">filetype/</a></li>
    <li><a href="filetype/5">filetype/5</a></li>
    <li><a href="filetype/.mp3">filetype/mp3</a></li>
    <li><a href="filetypegroup/">filetypegroup/</a></li>
    <li><a href="filetypegroup/5">filetypegroup/5</a></li>
  </ul>

{% endblock %}