{% extends 'base.html' %}
{% block title %}API{% endblock %}

{% block content %}
{% load urlize_quoted_links %}{% load add_query_param %}
<span class="auth">{% if user.is_active %}Welcome, {{ user }}.{% if logout_url %} <a href='{{ logout_url }}'>Log out</a>{% endif %}{% else %}Not logged in {% if login_url %}<a href='{{ login_url }}'>Log in</a>{% endif %}{% endif %}</span>
<h1>{{ resource.name }}</h1>
<p>{{ resource.description|linebreaksbr }}</p>
{% if 'GET' in resource.allowed_methods %}
  <div class="action">
    <a href='{{ request.path }}' rel="nofollow">GET</a>
    <ul class="accepttypes">
    {% for media_type in resource.emitted_media_types %}
      {% with resource.ACCEPT_QUERY_PARAM|add:"="|add:media_type as param %}
      <li>[<a href='{{ request.path|add_query_param:param }}' rel="nofollow">{{ media_type }}</a>]</li>
      {% endwith %}
    {% endfor %}
    </ul>
    <div class="clearing"></div>
  </div>
{% endif %}
{% if resource.METHOD_PARAM and form %}
  {% if 'POST' in resource.allowed_methods %}
    <div class="action">
      <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div>
          {{ field.label_tag }}:
          {{ field }}
          {{ field.help_text }}
          {{ field.errors }}
        </div>
        {% endfor %}
        <div class="clearing"></div>
        <input type="submit" value="POST" />
      </form>
    </div>
  {% endif %}

  {% if 'PUT' in resource.allowed_methods %}
    <div class="action">
      <form action="{{ request.path }}" method="post">
        <input type="hidden" name="{{ resource.METHOD_PARAM }}" value="PUT" />
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div>
          {{ field.label_tag }}:
          {{ field }}
          {{ field.help_text }}
          {{ field.errors }}
        </div>
        {% endfor %}
        <div class="clearing"></div>
        <input type="submit" value="PUT" />
      </form>
    </div>
  {% endif %}

  {% if 'DELETE' in resource.allowed_methods %}
    <div class="action">
      <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="{{ resource.METHOD_PARAM }}" value="DELETE" />
        <input type="submit" value="DELETE" />
      </form>
    </div>
  {% endif %}
{% endif %}

{% comment %}
  <pre><b>{{ response.status }} {{ response.status_text }}</b>
    {% autoescape off %}
    {% for key, val in response.headers.items %}<b>{{ key }}:</b> {{ val|urlize_quoted_links }}
    {% endfor %}
    {{ content|urlize_quoted_links }}</pre>
    {% endautoescape %}
{% endcomment %}

{% endblock %}