{% extends "base.html" %}

{% block title %}ЧАВО{% endblock %}

{% block content %}
<ol>
    <li>Есть ли архив тредов? Хотелось бы почитать старый ушедший тред.
    Почти во всех тематических разделах ведется архив. Доступ к нему вы можете получить, набрав адрес вида: http://2-ch.ru/xx/arch/res/ , где «xx» это буква нужного вам раздела.
    Кроме того вы можете воспользоваться сторонними сервисами: http://metachan.ru/, http://nyamo.org/, http://archive.needful.ru/ или http://largeb.ru/ (сохраняет только /b).</li>

    <li>Как пользоваться разметкой?
    Наклонный текст: *текст* или [i]текст[/i]
    Жирный текст: **текст** или [b]текст[/b]
    Моноширинный: четыре пробела перед текстом в начале строки или `текст` или [code]текст[/code]
    Подчеркнутый текст: __текст__ или [u]текст[/u]
    Текст с чертой вверху: [o]текст[/o]
    Спойлер: %%текст%% или [spoiler]текст[/spoiler]
    Зачеркнутый текст: текст^H^H^H^H^H или [s]текст[/s]
    Сдвиг текста вверх: [sup]текст[/sup]
    Сдвиг текста вниз: [sub]текст[/sub]
    Нумерованный список: "1. " (без кавычек, но с пробелом) в начале первой строки списка, а на следующих любые цифры (не обязательно по порядку)
    Ненумерованный список: "- ", или "+ ", или "* " (без кавычек, но с пробелом) в начале строки и потом перед каждой новой строкой
    Цитата текста: >текст
    Ссылка на тред или сообщение в пределах одного раздела (директории) сайта: >>номер
    Ссылка на тред или сообщение из одного раздела (директории) в другой: >>/xx/номер, где «xx» буква раздела в который ведет ссылка (функция находится в стадии доработки и пока еще не работает).</li>

    <li>Я видел на скриншотах у других людей, что у них есть всяческие красивости, навороты и финтифлюшечки. Хочу тоже, но как?
    Очень просто.
    По поводу финтифлюшек и наворотов — Dollchan Extension Tools от Sthephan’а (работает на всех имиджбордах) или Govno 3 от b0n3Z'а (только 2-ch.ru и еще пара аиб).
    По поводу красот — спрашивайте у олдфагов их css.</li>
    <li>Хочу читать 2-ch.ru с телефона/смартфона/ифона, но вакаба неудобна для маленьких экранов/жрет много трафика. Что делать?
    Воспользуйтесь мобильной версией сайта.</li>
    <li>У меня ошибка «400 Bad Request»/пустая страница/раздел xx не работает/etc. Разбаньте меня, я больше не буду.
    Это не бан, это либо временные проблемы сервера, либо ведутся работы на сайте, либо виновата ваша версия куклоскрипта. Если вы будете забанены, то при попытке отправки сообщения, вы будете уведомлены об этом.</li>
    <li>Сервер/сайт недоступен. Что делать?
    Сделайте ping 85.17.25.74. Если пингуется, но по домену 2-ch.ru сайт недоступен, то
    Для Windows: откройте файл «\WINDOWS\system32\drivers\etc\hosts»
    Для Linux: откройте файл «/etc/hosts»
    и добавьте в самый конец две строчки (без кавычек) «85.17.25.74 2-ch.ru» и «85.17.25.74 www.2-ch.ru», сохраните изменения и закройте файл.
    Изменений нет? Возможно, сервер временно недоступен или сайт лежит под DDoS’ом.
    В редких случаях проблема кроется в вашем провайдере или в вашем местном системном администраторе. В первом случае поможет использование прокси, во втором — купить своему админу побольше хорошего пива.</li>
    <li>У меня ошибка «Доступ к отправке сообщений с этого ip закрыт». Что делать?
    Прочитайте внимательно пункт номер 8 на этой странице. С вероятностью 95 % вы увидите там причину данной блокировки. Если же ваши действия не попадают под описание ее возможных причин, или вы полагаете, что произошла ошибка, то вы можете отправить об этом сообщение в /ue/ или направить сообщение по координатам, указанным в разделе «контакты».
    Обратите внимание, что при подобной жалобе вам необходимо указать в вашем сообщении ip-адрес, который был забанен. В противном случае ваше сообщение будет проигнорировано. Это связано с тем, что администратор не является экстрасенсом и понятия не имеет о каком бане идет речь в вашем сообщении, если вы не указали забаненый ip. Если вы оставляете подобное сообщение в разделе /ue/ и не желаете при этом публично афишировать свой ip-адрес, то следует указать в своем сообщении только его начальные цифры. Желательно три первых разряда, например таким образом: 192.168.121.xxx. Или же, если вы не хотите вообще показывать даже первые цифры публично, то тогда вы можете воспользоваться только e-mail, который указан в разделе «контакты». В этом случае вы можете прислать ip-адрес целиком, так как гарантируется полная приватность информации.</li>
    <li>За что я могу получить тут у вас бан? А то вроде бы всё можно и вдруг забанили, как так — объясните же!
    Гарантированные баны выдаются за наиболее критические нарушения. К ним относятся:
    — явновыраженное распространение и публикация детской эротики и порнографии (в том числе и просто обнаженные несовершеннолетние дети);
    — вайп любого тематического раздела;
    — спам.
    Все ниже перечисленные баны являются просто возможными, если вы чрезмерно «перегибаете палку», то есть это вредит и мешает общению остальных. К таким возможным банам относятся:
    — намеренное замусоривание раздела или треда флудом, форсами или офтоповыми сообщениями спамно-флудового типа;
    — действия, умышленно направленные во вред ресурсу.</li>
    <li>Я написал(а) сообщение с просьбой снятия бана. Но мне ничего не ответили, а сообщение удалили. Это как понимать?
    Скорее всего ваша просьба была удовлетворена, а сообщение удалено с целью не оставлять информацию о вашем ip-адресе в публичном доступе. Исключения из этого объяснения могут составлять только причины из пункта 7 данного FAQ. Или, к примеру, ложные сообщения о бане в стиле троллинга.</li>
    <li>У меня есть к вам жалоба, abuse, деловое предложение, разговор, но я хотел(а) бы поговорить приватно. Это возможно?
    Да, это возможно. Воспользуйтесь для связи e-mail, который указаны в разделе «контакты». Я не кусаюсь, вы получите все интересующие вас ответы (если их еще нет здесь) и/или поддержку (пока что только моральную).</li>
    <li>Чем можно помочь сайту?
    Как это ни банально, но мы всегда нуждаемся в моральной поддержке и идеях для дальнейшего развития. Ресурс нуждается в кодерах и прочих людях, обладающих знаниями для каких-либо модификаций сайта или исправления ошибок. К примеру, если вы осведомлены о какой либо имеющейся проблеме на сайте и знаете как ее решить, то вы можете смело присылать ваше решения на email, указанный в разделе «контакты».</li>
    <li>Скрытые разделы
    Публикация ссылок на скрытые разделы сайта (то есть те, которые отсутствуют в меню навигации; ссылка на скрытый раздел внутри самого раздела естественно разрешена) не рекомендуется;</li>
    <li>Правила тематичных разделов
    Посты и треды с нетематикой будут удаляться. Пример - когда идет обсуждение в /a/ вместо персонажа аниме - обсуждение какого-нибудь трипфага.
    Если один и тот же человек постоянно постит нетематику - может получить бан.
    Если тред скатывается в нетематику - выдается предупреждение, сообщения с нетематикой удаляются.
    Если идет замусоривание раздела протухшей копипастой - сообщения с копипастой будут удалены.
    Если один и тот же человек постоянно замусоривает раздел - может получить бан.</li>
    <li>Пометка постов ОП-а треда
    Для этого надо создать тред, указав при этом в поле "Пароль" пароль от треда. 
    Чтобы создать пост с пометкой, надо в поле "Тема" поста написать "#op:пароль" (например #op:123).</li>
</ol>

{% endblock %}