{% extends "base.html" %}

{% block title %}Два.ч - Главная{% endblock %}

{% block content %}
<h2>Добро пожаловать. Снова.</h2>
<p>Два.ч — это система форумов, где можно общаться быстро и свободно, где любая точка зрения имеет право на жизнь. Здесь нет регистрации и подписываться не нужно, хотя это не избавляет вас от необходимости соблюдать правила. Все форумы (кроме <a href="/b/">/Б/реда</a>), а их список находится слева, имеют собственную чётко ограниченную тематику. Словом, всё, что не запрещено правилами отдельно взятого форума и относится к его тематике, на этом форуме разрешено.</p>
{% endblock %}