{% load md2 %}{% load i18n %}{% load settings %}
<article class="post" id="post{{post.pid}}" data-id="{{post.id}}">
    <header>
        {% if post.data %}
            {% if post.data.country %}
                <span class="country">
                    <img src="{% setting 'STATIC_URL' %}/images/flags/{{post.data.country|lower}}.png" alt="{{post.data.country}}" title="{{post.data.country}}">
                </span>
            {% endif %}
            {% if post.data.useragent %}
                <span class="useragent">
                    <img src="{% setting 'STATIC_URL' %}images/useragents/{{post.data.useragent.name|lower}}.png" alt="{{post.data.useragent.name}}" title="{{post.data.useragent.raw}}">
                </span>
            {% endif %}
        {% endif %}
        <span class="poster">
            {% if post.email %}
                <a href="mailto:{{post.email}}" class="email">{% endif %}
            {{post.poster}}{% if post.email %}</a>{% endif %}
        </span>
        <span class="tripcode">{{post.tripcode}}</span>
        <span class="title">{{post.topic}}</span>
        <time datetime="{{post.date|date:'c'}}" pubdate>
            {{post.date|date:"d.m.Y H:i:s"}}
        </time>
        <span class="number"><a href="{{thread.op_post.pid|default:""}}#post{{post.pid}}">{{post.pid}}</a></span>
        {% if post.thread and post.is_op_post %}
            <span class="replylink">
                <a href="{{thread.op_post.pid|default:""}}#post{{post.pid}}">{% trans "Reply" %}</a>
            </span>
        {% endif %}
    </header>

    {% if post.file_count > 0 %}
    {% for f in post.files %}
        <div class="filemeta">
            <a target="_blank" href="{{f.file.url}}">{{post.pid}}.{{f.type.extension}}</a>
            (<em>{{f.size|filesizeformat}}{% if f.image_height %}, {{f.image_height}}x{{f.image_width}}{% endif %}</em>)
        </div>
        <a href="{{f.file.url}}" class="file">
            {% if f.thumb %}
                <img src="{{f.thumb.url}}" id="file{{f.id}}" data-hash="{{f.hash}}" alt="">
            {% else %}
                {% if f.image_height %}
                    <img src="{{f.file.url}}" class="file" id="file{{f.id}}" data-hash="{{f.hash}}" alt="">
                {% else %}
                    {% if f.type.group.default_image %}
                        <img src="{{f.type.group.default_image.url}}" class="file-icon" id="file{{f.id}}" alt="">
                    {% endif %}
                {% endif %}
            {% endif %}
        </a>
    {% endfor %}
    {% endif %}

    <div class="message">{% autoescape off %}
        {{ post.message|markdown2:"safe,videos,code-friendly,code-color" }}
    {% endautoescape %}</div>
    {% if post.is_op_post and thread.count.skipped > 0 %}
        <span class="skipped">Пропущено ответов: {{thread.count.skipped}}, из них с файлами: {{thread.count.skipped_files}}.</span>
    {% endif %}
</article>
{% if not post.is_op_post %}
    <div class="iewrap"></div>
{% endif %}