{% extends "section_base.html" %}
{% load i18n %}
{% block title %}{{section.name}}{% endblock %}
{% block role %}page{% endblock %}

{% block pages %}
<ul class="pagination">
    {% for p in threads.paginator.page_range %}
        {% if p != threads.number %}
            <li><a href="page{{p}}">{{p}}</a></li>
        {% else %}
            <li><span>{{p}}</span></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% block threads %}
    {% autoescape off %}
    {% for thread in threads.object_list %}
        {{thread.html}}
    {% endfor %}
    {% endautoescape %}
{% endblock %}