{% extends "base.html" %}
{% load cache %}
{% load i18n %}
{% load macros %}

{% block title %}{{section.name}}{% endblock %}
{% block newpost %}{% include "form.html" %}{% endblock %}
{% block search %}
<div class="searchbox">
    <form action="search" method="get" accept-charset="utf-8">
        <p><input name="q" placeholder="{% trans 'Search' %}" id="q" type="search">
        <label for="is_op_post">{% trans 'OP-post' %}</label>
        <input name="is_op_post" id="is_op_post" type="checkbox">
        <input value="&#x2192;" type="submit"></p>
    </form>
</div>
{% endblock %}

{% block content %}
    {% block section %}{% endblock %}
{% endblock %}