{% extends "base.html" %}
{% load cache %}
{% load i18n %}
{% load macros %}

{% block title %}{{ section.name }}{% endblock %}
{% macro newpost %}
  {% block newpost %}{% include "form.html" %}{% endblock %}
{% endmacro %}
{% block search %}
<div class="searchbox">
  <form action="search" method="get" accept-charset="utf-8">
    <p><input name="q" placeholder="{% trans 'Search' %}" id="q" type="search">
    <label for="is_op_post">{% trans 'OP-post' %}</label>
    <input name="is_op_post" id="is_op_post" type="checkbox">
    <input value="&#x2192;" type="submit"></p>
  </form>
</div>
{% endblock %}

{% block content %}
  <section class="threads">
    {% block threads %}{% endblock %}
  </section>
  {% if thread and session.bottomForm %}
    {% usemacro newpost %}
  {% endif %}
  <section class="actions">
    <ul class="pagination">
      <li><a href=".">{% trans "Everything" %}</a></li>
      <li><a href="threads">{% trans "Threads" %}</a></li>
    </ul>
    {% block pages %}{% endblock %}

    <form method="POST" action="/api/post/" class="removePosts">
      <button class="button">{% trans 'Delete posts' %}</button>
      <div class="hidden">
        <p><input type="checkbox" name="only_files" id="only_files">
        <label for="only_files">{% trans "Only files" %}</label></p>

        <div class="mod">
          <p><input type="checkbox" name="delete_all" id="delete_all">
          <label for="delete_all">{% trans "Delete all messages from IP" %}</label></p>

          <p><input type="checkbox" name="ban_ip" id="ban_ip">
          <label for="ban_ip">{% trans "Ban IP" %}</label></p>
        </div>
      </div>
    </form>
  </section>
{% endblock %}