{% extends "section_base.html" %}
{% load i18n haship macros %}
{% block title %}{% trans "Thread title" %} {{ thread.op_post.pid }}{% endblock %}
{% block role %}thread{% endblock %}

{% block newpost %}
    {% include "form.html" %}
{% endblock %}

{% block threads %}
    <section class="tools">
        <button class="button expandImages">{% trans "Expand images" %}</button>
        <span class="filterPosts">
            <button class="button">{% trans "Filter posts" %}</button>
            <span class="filterParams">
                <input type="checkbox" name="filterImages" id="filterImages">
                <label for="filterImages">{% trans "with images" %}</label>
            </span>
            <div class="slider"></div>
            <div class="sliderInfo"><span class="sliderVal"></span>{% trans "reply count" %}</div>
        </span>
    </section>
    {% if thread.poll_id %}
        <section class="poll{% if thread.poll.vote_data %} voted{% endif %}">
            {{ thread.poll.vote_data.id }}
            <div class="hbg-title">{{ thread.poll.question }}</div>
            <dl id="poll{{ thread.poll_id }}" title="{{ thread.poll.question }}">
                {% for choice in thread.poll.choice_set.all %}
                <dt id="vote-info{{ choice.id }}">
                    <input type="radio" name="choice" value="{{choice.id}}">
                    {{choice.name}}
                </dt>
                <dd id="vote-result{{choice.id}}"></dd>
                {% endfor %}
            </dl>
        </section>
    {% endif %}
    <section class="thread" id="thread{{thread.id}}">
        {% autoescape off %}
        {% for post in thread.posts_html %}
            {{post.html}}
        {% endfor %}
        {% endautoescape %}
    </section>
{% endblock %}
