{% extends 'base.html' %}
{% block title %}Секция{% endblock %}
{% block content %}
{% load cache %}
{% cache 86400 form %}
            <form>
                <fieldset class="new-post">
                    <dl class="username-d">
                        <dt><label for="username">Имя</label></dt>
                        <dd>
                            <input type="text" name="poster" id="username" size="16" maxlength="32">
                            <span class="empty">(оставьте это поле пустым)</span>
                        </dd>
                    </dl>

                    <dl class="email-d">
                        <dt><label for="email">Электропочта</label></dt>
                        <dd><input type="text" name="email" id="email" size="16" maxlength="32"></dd>
                    </dl>
                    
                    <dl class="topic-d">
                        <dt><label for="topic">Тема</label></dt>
                        <dd>
                            <input type="text" name="topic" id="topic" size="16" maxlength="48">
                            <input type="submit" value="Написать">
                        </dd>
                    </dl>
                    
                    <dl class="message-d">
                        <dt><label for="message">Комментарий</label></dt>
                        <dd>
                            <div class="bbcode">
                                <a href="#" class="b" title="Жирный">Ж</a>
                                <a href="#" class="i" title="Курсив">К</a>
                                <a href="#" class="s" title="Зачеркнутый">З</a>
                                <a href="#" class="u" title="Подчеркнутый">П</a>
                                <a href="#" class="spoiler" title="Спойлер">С</a>
                                <a href="#" class="hide" title="Невидимый">Н</a>
                                <a href="#" class="sup" title="Суперскрипт">Sup</a>
                                <a href="#" class="sub" title="Сабскрипт">Sub</a>
                                <a href="#" class="code" title="Код">Код</a>
                            </div>
                            <textarea name="message" id="message" class="message" rows="8" cols="40"></textarea>
                            <input name="gb2" value="thread" type="hidden">
                        </dd>
                    </dl>

                    <dl class="file-d">
                        <dt><label for="file">Файл</label></dt>
                        <dd><input type="file" name="file" id="file"></dd>
                    </dl>

                    <dl class="captcha-d">
                        <dt><label for="captcha">Подтверждение</label></dt>
                        <dd>
                            <img src="{{ MEDIA_URL }}images/captcha.jpg" alt="" class="captcha-img">
                            <p><input type="text" name="captcha" id="captcha" size="16" maxlength="32"></p>
                        </dd>
                    </dl>
                    
                    <dl class="password-d">
                        <dt><label for="password">Пароль</label></dt>
                        <dd><input type="password" name="password" value="password" id="password" size="16" maxlength="32"></dd>
                    </dl>
                </fieldset>
            </form>
            {% endcache %}
            {% for thread in threads.object_list %}{% endfor %}
            {% cache 86400 paginator request.page %}
            <div class="paginator">
                <ul class="group">
                {% for p in threads.paginator.page_range %}
                    {% if p != threads.number %}
                        <li><a href="page{{p}}">{{p}}</a></li>
                    {% else %}
                        <li><span>{{p}}</span></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            {% endcache %}
{% endblock %}