{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Feed" %}{% endblock %}
{% block role %}storage{% endblock %}
{% block content %}
<section class="storage">
    <table class="storageTable">
        {% for post in posts %}
            <tr id="post{{ post.id }}">
                <td><span class="post-icon remove" data-storage="feed" title="{% trans 'Remove from feed' %}"></span></td>
                <td class="location"><a href="{{ post.link }}">/{{ post.thread__section__name }}/</a></td>
                <td class="info">{{ post.description }}</td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}